@use "components";

@mixin section-display {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}

.logo img {
  width: 7rem;
}

.sec-home {
  display: flex;
  align-items: center;
  @include section-display;
  .home-cta {
    flex: 1;

    .cta-text {
      color: components.$color-main;
      font-weight: 500;
    }
    .home-title {
      width: 30rem;
      font-size: 4rem;
    }
    .home-description {
      width: 30rem;
    }
  }
}

.sec-features {
  @include section-display;

  .intro {
    text-align: center;

    h3 {
      font-size: 1.8rem;
    }

    p {
      font-size: 0.8rem;
      color: #888;
    }
  }

  .features {
    display: flex;
    gap: 2rem;
    .text {
      padding: 2rem 0;
      max-width: 40%;
      .feature {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 1rem;
        margin-bottom: 1rem;
        .description {
          .description-title {
            font-size: 1.15rem;
          }
          .description-text {
            font-size: 0.8rem;
          }
        }
      }
    }

    .image {
      img {
        width: 30rem;
      }
    }
  }
}
